{% extends 'base.html' %}

{% block content %}
    <h1 class="h3">Група {{ group }}</h1>

    <h2 class="h5">Предмет 1</h2>

    <h3 class="h6">Англійський поток</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>*</th>
                <td>https://dl.nure.ua/link0</td>
            </tr>
            <tr>
                <th>лк</th>
                <td>https://meet.google.com/link1</td>
            </tr>
            <tr>
                <th>пз</th>
                <td>https://meet.google.com/link2</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
