{% extends 'base.html' %}
{% load custom_filters %}

{% block css %}
<style>
    small {
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        color: #bbb;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3">
        Потік {{ prefix }}
        {% if mode == 'view' %}
            (<a href="{% url 'links-edit' key %}">редагувати</a>)
        {% else %}
            <span class="text-danger">[режим редагування]</span>
        {% endif %}
    </h1>

    {% if mode == 'edit' %}
    <form method="post">
        {% csrf_token %}
        {% include 'includes/buttons.html' %}
    {% endif %}

    {% for subject, subject_data in subjects.items %}
        <h2 class="h5 mb-3 pt-3">
            📚 <b>{{ subject }}</b>
            — {{ subjects_names|get:subject }}
        </h2>

        <div style="margin-left: 10px;">
        {% for category, category_data in subject_data.items %}
            <h3 class="h6">
                {% if category == 'eng' %}
                    🇬🇧 Англійський потік
                {% elif category == 'ukr' %}
                    🇺🇦 Український потік
                {% elif category == 'core' or category == 'alt' %}

                {% else %}
                    {{ category }}
                {% endif %}
            </h3>

            <table class="table table-bordered mb-4">
                <tbody>
                {% for data in category_data %}
                    <tr>
                        <td style="width: 30%;">
                            <label for="{{ subject }}|{{ category }}|{{ data.title }}|{{ data.teacher }}">
                                {{ data.title }}
                            </label>
                            <small>{{ data.teacher|teachers }}</small>
                        </td>
                        <td class="align-middle">
                            {% if mode == 'view' %}
                                {{ data.links|links }}
                            {% else %}
                                <div class="form-group">
                                    <textarea name="{{ subject }}|{{ category }}|{{ data.title }}|{{ data.teacher }}" id="{{ subject }}|{{ category }}|{{ data.title }}|{{ data.teacher }}"
                                              class="form-control" rows="2" placeholder="Введіть посилання тут...">{{ data.links }}</textarea>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        </div>
    {% endfor %}

    {% if mode == 'edit' %}
        {% include 'includes/buttons.html' %}
    </form>
    {% endif %}
{% endblock %}
